

.header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--main-padding);
    background-color: #000000;
    margin-bottom: 0;
}

.menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    font-weight: bold;
}

.menu ul li, .menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    padding: 9px;
}
.sign{
    color: #D9DADC;
}