
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

    font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
  /*color: #b3b3b3; */
}
p, h3{
  margin: 0;
  padding: 0;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root{
  --main-padding: 0 10%;
  /* --pure-black: #000000;
  --grey-black: #EFEFEF;
  --royal-blue: #1D75DE;
  --pure-white: #ffffff; */
}

@media (max-width: 769px) {
  root{
    --main-padding: 0 5%;
  }
}
/* @media (max-width: 450px) {
    .fill, .nofill{
      padding: 5px 10px !important;
      gap: 0 !important;
      background-color: red;
    }
    
} */
.fill, .nofill{
  padding: 16px 35px;
  border-radius: 500px;
  gap: 15px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}
.fill{
  background-color: #000000;
  border: none;
  outline: none;
  
}
.nofill{
  border: 2px solid #ffffff;
  background: none;
}
.section-title{
    font-size: 39px;
    font-weight: bold;
    /* margin-bottom: 50px; */
}

.h6-bold{
  font-size: 20px;
  font-weight: bold;
}
.p-sixteen{
  font-size: 16px;
}
.terms{
  /* font-size: 0.6875rem; */
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.terms a, .underline{
  /* text-decoration: underline; */
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.underline{
  text-decoration: none;
}
.terms a::after, .underline::after{
  content: '''';
  position: absolute;
  width: 143px;
  /* width: 133.4px; */
  border-bottom: #000000 solid 0.54px;
  z-index: 2;
  left: 1px;
  top: 12px;
}
.underline::after{
  top: 15px;
  width: 155px;
}
.terms .white::after{
  border-bottom: #ffffff solid 0.54px;
}
.terms .black{
  color: #535353;
}
.terms .black::after{
  border-bottom: #535353 solid 0.54px;
}
.black{
  border-color: #000000;
  color: #000000;
}